<nav class=" grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="left brand-logo">MovieSpot</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/own">Movies You Own</a></li>
      <li><a href="/wishlist">Wishlist</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
      <h1 class="text-center"><%= movies.Title %></h1>
      <img class="poster-column" src="<%= movies.Poster %>">
      <div class="info-column">
        <p><strong>Plot:</strong> <%= movies.Plot %></p>
        <p><strong>Actors:</strong> <%= movies.Actors %></p>
        <p><strong>Director:</strong> <%= movies.Director %></p>
        <p><strong>Year:</strong> <%= movies.Year %></p>
        <p><strong>Genre:</strong> <%= movies.Genre %></p>
        <p><strong>Rated:</strong> <%= movies.Rated %></p>
        <p><strong>Released:</strong> <%= movies.Released %></p>
        <p><strong>Runtime:</strong> <%= movies.Runtime %></p>
          <form class="own-btn" method="POST" action="/own/<%= movies.Title %>">
            <input class="waves-effect waves-light btn" type="submit" value="Add to own">
          </form>
          <form class="wishlist-btn" method="POST" action="/wishlist/<%= movies.Title %>">
            <input class="waves-effect waves-light btn" type="submit" value="Add To Wishlist">
          </form>
      </div>
      <h1 class="text-center">Write A Review</h1>
      <% if(comments) { %>
      <% comments.forEach(function(comment) { %>
           <p class="well grey darken-3 name"><strong class="name"><%= comment.user.name %></strong></br>
             <%= comment.content %></p>
      <% }); %>
      <% } %>
      <form method="post" action='/info/<%= movies.imdbID %>/comment' class="well grey darken-3">
        <label class="review">Review</label>
          <textarea class="white" type="text" name="content"></textarea>
        <button class="waves-effect waves-light btn" type="submit">Submit Comment</button>
      </form>
</div>

<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
    © 2018
    <a class="grey-text text-lighten-4 right" href="#!">Home</a>
    </div>
  </div>
</footer>
